.container {
    border: 2px solid #ffffff;
    width: 1500px;
    height: 875px;
    overflow-y: scroll;
    padding: 7px;
    font-family: Arial;
    margin-top: 15px;
    scrollbar-width: none;
    border-radius: 1%;
}

.container2 {
    border: 1px solid #307e30;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 125px;
    font-family: Arial;
}

.recipebutton {
    height: 125px;
    width: 1493px;
    background-color: transparent;
    border: 0px;
}


.roundbutton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: #999999;
    border-style: solid;
    line-height: 10px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background-color: #252525;
}

.roundbutton:hover {
    background-color: #45aa39;
}

.roundbutton:active {
    background-color: #45ff39;
}

ul {
    text-align: left;
}

li {
    text-align: left;
}

.biggertext {
    color: #32c88c;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ingredients {
    color: #32c88c;
    font-size: 25px;
    display: inline;
    justify-content: center;
    align-items: center;
}

.checkmark {
    color: #32c88c;
    font-size: 17px;
    display: inline-flex;
    line-height: 25px;
    justify-content: center;
    align-items: center;
}

.ingredients, .roundbutton, .checkmark {
    vertical-align: middle;
}

li::marker {
    color: green;
    font-size: 25px;
}


.title {
    color: #32c88c;
    font-size: 50px;
    font-family: arial;
}
