{% extends "layout.html" %}
{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}

<div class="sidebox">
    <form method="GET" action="/home" spellcheck="false">
        <input class="searchwing" placeholder="Filter with ingredients..." name="querying" id="querying" autocomplete="off">
        <input type="submit" hidden>
        <button id="reset" name="reset" value="reset" type="submit" class="reset">Reset</button>
        <p class="ingredients filtertitle">Filtered Ingredients:</p>
        <div class="filtercontainer">
        <ul>
        {% for filter in querying %}
            <li><p class="ingredients querying">{{ filter }}</p></li>
        {% endfor %}
        </ul>

        <div class="time">
        <p class="ingredients">Time:</p>
        <input class="searchwing preptime" placeholder="Filter by prep-time..." name="preptime" id="preptime" autocomplete="off">
        <input class="searchwing cooktime" placeholder="Filter by cook-time..." name="cooktime" id="cooktime" autocomplete="off">
        <input class="searchwing totaltime" placeholder="Filter by total-time..." name="totaltime" id="totaltime" autocomplete="off">
        </div>
        </div>
    </form>
    <form action="/lists">
        <button class="reset seelists">View Saved Recipes</button>
    </form>

</div>

{% if alert == "norecipes" %}
<script>
    alert("There are no recipes with that ingredient.")
    window.location.href = "/home"
</script>

{% elif alert == "norecipessearch" %}
<script>
    alert("There are no recipes with that name.")
    window.location.href = "/home"
</script>

{% endif %}

<input type="checkbox" id="toggler" class="invis"/>
<form method="GET" action="/home" spellcheck="false">
    <input type="text" id="search" autocomplete="off" name="Query" class="search" placeholder="Search recipe...">
    <input type="submit" value="Search" hidden>
</form>

<p class="ingredients username">Welcome, {{ username }}!</p>

<form action="logout">
<button class="reset logout" id="logout" type='submit' name="logout">Logout</button>
</form>

<div class="temp" id="recipes">
<form method="POST">
{% for item in newrecipelist %}
    <div class="container2" style="overflow:hidden">
        <a href="/{{ item }}">
            <button id="recipebutton" class="recipebutton" name="recipebutton" type="button"><p class="biggertext">{{ item }}</p></button>
        </a>
    </div>
    <br>
{% endfor %}
</form>
</div>
{% endblock %}
