{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
<title>Unichef</title>
{% endblock %}


{% block body %}
<div class="container">
<p class="title index">Unichef</p>
<p class="title index paragraph">A simple and easy-to-use recipe app, targeted towards busy people who have to cook on a tight schedule and budget.</p>
<div class="loginandsignup">
<a href="/sign-up"><button class="defaultbutton">Sign-Up</button></a>
<a href="/login"><button class="defaultbutton">Login</button></a>
</div>
</div>
{% endblock %}