{% extends "layout.html" %}
{% block head %}
<title>Lists</title>
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}
<h1 class="title">Saved Lists</h1>
<form action="/home">
    <button class="defaultbutton pos">Home</button>
</form>

{% if alert == "norecipes" %}
    <script>
    alert("You have no recipes. Add some to view them!")
    window.location.href = "/home"
    </script>
{% endif %}
<div class="temp" id="recipes">
    <form method="POST">
    {% for item in recipelist %}
        <div class="container2" style="overflow:hidden">
            <a href="/{{ username }}/{{ item }}">
                <button id="recipebutton" class="recipebutton" name="recipebutton" type="button"><p class="biggertext">{{ item }}</p></button>
            </a>
        </div>
        <br>
    {% endfor %}
    </form>
    </div>
{% endblock %}