{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
<title>login</title>
{% endblock %}


{% block body %}
<h1>login</h1>
{% if flashmessage == 'notfilledout' %}
  <script>
    alert("Please fully fill out *both* the username and password forms.")
  </script>
{% elif flashmessage == 'incorrect' %}
  <script>
    alert("Username or password is incorrect.")
  </script>
{% elif flashmessage == 'unknownerror' %}
<script>
  alert("Unknown Error")
</script>
{% endif %}
<form action="/login" method="POST">
<input type="text" id="username" autofill="off" name="username" class="signin" placeholder="Username" autofocus><br>
<input type="password" id="password" autofill="off" name="password" class="signin" placeholder="Password"><br><br>
<input type="submit" class="defaultbutton submit"><br>
</form>


<div class="container">
<a href="/sign-up"><button class="defaultbutton signupbtn">Go to sign-up page</button></a>
</div>
{% endblock %}