{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
<title>Login</title>
{% endblock %}


{% block body %}
{% if flashmessage == 'notfilledout' %}
  <script>
    alert("Please fully fill out *both* the username and password forms.")
  </script>
{% elif flashmessage == 'incorrect' %}
  <script>
    alert("Username or password is incorrect.")
  </script>
{% elif flashmessage == 'unknownerror' %}
<script>
  alert("Unknown Error")
</script>
{% endif %}
<div class="container">
  <p class="title index">Login</p>
  <div class="loginandsignup fields">
    <form action="/login" method="POST">
      <input type="text" id="username" autocomplete="off" name="username" class="signin" placeholder="Username" autofocus><br>
      <input type="password" id="password" autocomplete="off" name="password" class="signin" placeholder="Password"><br><br>
      <input type="submit" class="defaultbutton submit"><br>
    </form>
</div>


<div class="loginandsignup">
<a href="/sign-up"><button class="defaultbutton signupbtn">Sign-Up</button></a>
<a href="/"><button class="defaultbutton signupbtn">Home</button></a>
</div>
</div>
{% endblock %}