{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}
<p class="title">{{ recipename }}:</p>
<p class="ingredients">Ingredients:</p>
<form method="POST">
    {% for i in item %}
    <div class="left">
    <li style="text-align:left">
        <span class="ingredients" id="ingredient" name="ingredient">{{ i }} </span><a href="/test"><button class="roundbutton" name="roundbutton" id="roundbutton"><span class="button">+</span></button></a>
    </li>
    </div>
{% endfor %}
</form>
{% endblock %}