{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}
{% if alert == "duplicates" %}
    <script>
    alert("You have already saved this recipe!")
    </script>
{% elif alert == "nousername" %}
    <script>
    alert("You are not logged in!! Please login.")
    window.location.href = "/login"
    </script>
{% elif alert == "success" %}
    <script>
    alert("Added recipe!")
    </script>
{% endif %}

<div class="recipetitle">
<form>
<p class="title">{{ recipename }}:</p><button class="reset saverecipe" name="saverecipe" id="saverecipe" value="button"><span class="ingredients buttontext">Add recipe</span></button>
</form>
</div>

<p class="ingredients">Ingredients:</p>
<form method="POST" action="">
    {% for i in item %}
    <li style="text-align:left">
        <span class="ingredients" id="ingredient" name="ingredient">{{ i }}</span>
    </li>
{% endfor %}
</form>
<form action="/test">
    <button>See List</button>
</form>
<form action="/home">
    <button class="defaultbutton pos">Home</button>
</form>
<img class="recipeimg" src="{{ image }}" alt="NOT WORKING">

{% endblock %}