{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}
<p class="title">{{ recipename }}:</p>
<p class="ingredients">Ingredients:</p>
<form method="POST" action="/test">
    {% for i in item %}
    <div class="left">
    <li style="text-align:left">
        <span class="ingredients" id="ingredient" name="ingredient">{{ i }} </span>
        <button class="roundbutton" name="roundbutton" id="roundbutton"><span class="ingredients">+</span></button>
    </li>
    </div>
{% endfor %}
</form>
{% endblock %}