{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/maincss.css">
<title>sign-up</title>
{% endblock %}


{% block body %}
<h1>sign-up</h1>
{% if flashmessage == 'notfilledout' %}
  <script>
    alert("Please fully fill out *both* the username and password forms.")
  </script>
{% elif flashmessage == 'sameusername' %}
  <script>
    alert("There is another account with the same username. Please choose another username.")
  </script>
{% endif %}
<form>
<input type="text" id="username" name="username" class="signin" autofill="off" placeholder="Username" autofocus><br>
<input type="password" id="password" name="password" autofill="off" class="signin" placeholder="Password"><br><br>
<input type="submit" class="defaultbutton submit"><br>
</form>

<div class="container">
<a href="/login"><button class="defaultbutton signupbtn">Go to login page</button></a>
</div>
{% endblock %}