{% extends "layout.html" %}
{% block head %}
<title>Recipes</title>
<link rel="stylesheet" href="../static/maincss.css">
{% endblock %}

{% block body %}
<p class="title">{{ recipename }}:</p>
<p class="ingredients">Ingredients:</p>

<form>

{% for i in item %}
    <li style="text-align:left">
        {% if i[1] == False %}
            <span class="ingredients" id="ingredient" name="ingredient">{{ i[0] }}</span><button class="roundbutton" id="pressed" name="pressed" value="{{ i }}">+</button>
        {% elif i[1] == True %}
            <span class="ingredients ticked" id="ingredient" name="ingredient">{{ i[0] }}</span><button class="roundbutton" id="pressed" name="pressed" value="{{ i }}">✓</button>
        {% endif %}
    </li>
{% endfor %}
</form>

<form action="/lists">
    <button class="defaultbutton leftt">Saved Recipes</button>
</form>

<form action="/home">
    <button class="defaultbutton rightt">Home</button>
</form>
<img class="recipeimg" src="{{ image }}" alt="NOT WORKING">
{% endblock %}